:root {
    --red-rust: #984b43;
    --white-rust: #fdfbfa;
    --light-gray: #b6b6b6;
    --gunmetal: #233237;
    --gunmetal-comp: #372823;
    --green-table: #5b9a5870;
    /* --green-table: #18121E; */
    --yellow-dull: #eac67a;
}

body {
    font-family: 'Lalezar', cursive;
    background-color: var(--gunmetal);
    max-width: 1000px;
    min-width: 640px;
    margin: auto;

}

.navbar {
    display: flex;
    background-color: var(--red-rust);
    box-shadow: 0px 3px 1px rgba(0,0,0, .1);
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
}

.navbar div {
    display: flex;
    width: 20%;
    max-width: 150px;
}

#newGame {
    display: flex;
    max-width: 150px;
    width: 20%;
    margin: 0;
    
}

#newBattle {
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--yellow-dull);
    color: var(--red-rust);
    height: 30px;
}


h1 {
    font-family: 'Ultra', serif;
    color: var(--yellow-dull);
    font-size: 4rem;
    text-align: center;
    display: flex;
    margin: auto;
    padding: 0;
}

h2, h3 {
    color: var(--gunmetal);
    text-align: center;
    font-size: 3rem;
}

.player h2 {
    height: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.player h3 {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-between;

}

.hideMe {
    display: none;
}

.showMeFlex {
    display: flex;
}

.showMeBlock {
    display: block;
}

#armyPopup {
    margin-top: 10px;
    border: black solid 2px;
    background: white;
    height: 75px;
}

#armyPopup div {
    display: block;
    text-align: center;
    margin: auto;
    width: 45%;
}

#armyPopup div input {
    width: 80px;
    letter-spacing: normal;
}

#armyPopup div label {
    font-size: 1.5rem;
}

#armyPopup button {
    margin: auto;
    background-color: var(--red-rust);
}

.player {

    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--light-gray);
    max-width: 285px;
    /* min-width: 285px; */
    width: 45%;
    height: 400px;
    box-shadow: 4px 4px 5px rgba(0,0,0, .7);
    border-radius: 5px;
}

.player div label {
    text-decoration-line: underline;
    color: var(--gunmetal);
}


.lives {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--gunmetal);
    

}

input {
    /* display: inline-flex; */
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: -.5rem;
    width: 40px;
    height: 40px;
    color: var(--gunmetal);
    background-color: var(--light-gray);
    border: var(--gunmetal) solid 1px;
    border-radius: 5px;
    
}

button {
    /* display: inline-flex; */
    border: none;
    background-color: #497b46;
    color: var(--white-rust);
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 0px;
    /* margin-bottom: 15px; */
    /* padding-bottom: 5px; */
    height: 45px;
}

.clicked-button {
    background-color: var(--gunmetal);
    color: gray;
}


.dice {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.die {
    /* font-weight: 800; */
    font-size: 4rem;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: var(--red-rust);
    color: var(--white-rust);
    border-radius: 5px;
    width: 70px;
    height: 70px;
    box-shadow: 4px 4px 5px rgba(0,0,0, .7);
}

.die-white {
    border: solid 1px var(--gunmetal);
    background-color: var(--white-rust);
    color: var(--gunmetal);
}

.battlefield {
    background-color: var(--green-table);
    padding: 20px;
    height: 300px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    /* border: var(--gunmetal) solid 2px; */
    box-shadow: 4px 4px 5px rgba(0,0,0, .7);
}

.results {
    font-family: 'Ultra', serif;
    font-size: 4rem;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--yellow-dull);
}