h1 {
    color: blue;
    text-align: center;
}

h2, h3 {
    color: purple;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;

}

.player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

button {
    border: none;
    background-color: green;
    color: white;
    text-decoration-style: double;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}

.clicked-button {
    background-color: gray;
    color: darkgray;
}


.dice {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.die {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
 
    /* float: left; */
    width: 80px;
    height: 80px;
}

.die-white {
    border: solid 1px black;
    background-color: white;
    color: black;
}

.results {
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;

    color: green;
    border-radius: 5px;
 
    /* float: left; */
    /* width: 80px; */
    /* height: 80px; */
}